Lenguaje de Programación 2/LP/Cliente_JAVA/src/META-INF/wsdl/localhost_8080/ExamenFinalCicloPasado/PartidosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="PartidosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/ExamenFinalCicloPasado/PartidosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarPartido">
<part name="parameters" element="tns:eliminarPartido"/>
</message>
<message name="eliminarPartidoResponse">
<part name="parameters" element="tns:eliminarPartidoResponse"/>
</message>
<message name="listarPartidos">
<part name="parameters" element="tns:listarPartidos"/>
</message>
<message name="listarPartidosResponse">
<part name="parameters" element="tns:listarPartidosResponse"/>
</message>
<message name="listarPaises">
<part name="parameters" element="tns:listarPaises"/>
</message>
<message name="listarPaisesResponse">
<part name="parameters" element="tns:listarPaisesResponse"/>
</message>
<message name="registrarPartido">
<part name="parameters" element="tns:registrarPartido"/>
</message>
<message name="registrarPartidoResponse">
<part name="parameters" element="tns:registrarPartidoResponse"/>
</message>
<portType name="PartidosWS">
<operation name="eliminarPartido">
<input wsam:Action="http://Servicio/PartidosWS/eliminarPartidoRequest" message="tns:eliminarPartido"/>
<output wsam:Action="http://Servicio/PartidosWS/eliminarPartidoResponse" message="tns:eliminarPartidoResponse"/>
</operation>
<operation name="listarPartidos">
<input wsam:Action="http://Servicio/PartidosWS/listarPartidosRequest" message="tns:listarPartidos"/>
<output wsam:Action="http://Servicio/PartidosWS/listarPartidosResponse" message="tns:listarPartidosResponse"/>
</operation>
<operation name="listarPaises">
<input wsam:Action="http://Servicio/PartidosWS/listarPaisesRequest" message="tns:listarPaises"/>
<output wsam:Action="http://Servicio/PartidosWS/listarPaisesResponse" message="tns:listarPaisesResponse"/>
</operation>
<operation name="registrarPartido">
<input wsam:Action="http://Servicio/PartidosWS/registrarPartidoRequest" message="tns:registrarPartido"/>
<output wsam:Action="http://Servicio/PartidosWS/registrarPartidoResponse" message="tns:registrarPartidoResponse"/>
</operation>
</portType>
<binding name="PartidosWSPortBinding" type="tns:PartidosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarPartido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPartidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarPartido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartidosWS">
<port name="PartidosWSPort" binding="tns:PartidosWSPortBinding">
<soap:address location="http://localhost:8080/ExamenFinalCicloPasado/PartidosWS"/>
</port>
</service>
</definitions>