Lenguaje de Programación 2/LP/Cliente_JAVA/xml-resources/web-service-references/PartidosWS/wsdl/localhost_8080/ExamenFinalCicloPasado/PartidosWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="eliminarPartido" type="tns:eliminarPartido"/>

<xs:element name="eliminarPartidoResponse" type="tns:eliminarPartidoResponse"/>

<xs:element name="listarPaises" type="tns:listarPaises"/>

<xs:element name="listarPaisesResponse" type="tns:listarPaisesResponse"/>

<xs:element name="listarPartidos" type="tns:listarPartidos"/>

<xs:element name="listarPartidosResponse" type="tns:listarPartidosResponse"/>

<xs:element name="registrarPartido" type="tns:registrarPartido"/>

<xs:element name="registrarPartidoResponse" type="tns:registrarPartidoResponse"/>

<xs:complexType name="registrarPartido">
<xs:sequence>
<xs:element name="arg0" type="tns:partido" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partido">
<xs:sequence>
<xs:element name="EQUIPO_A" type="xs:int"/>
<xs:element name="EQUIPO_B" type="xs:int"/>
<xs:element name="GOLES_EQUIPO_A" type="xs:int"/>
<xs:element name="GOLES_EQUIPO_B" type="xs:int"/>
<xs:element name="JUGADO" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarPartidoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPaises">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPaisesResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="CATEGORIA_SORTEO" type="xs:int"/>
<xs:element name="GRUPO" type="xs:string" minOccurs="0"/>
<xs:element name="ID_PAIS_CLASIFICADO" type="xs:int"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPartido">
<xs:sequence>
<xs:element name="arg0" type="tns:partido" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPartidoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPartidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPartidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:partido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>